body{
    background-color: #208320;
}

button{
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    transition: color 0.3 ease;
}
button:hover{
    background-color: #9aff91;
    color: #008a22;
}