body{
    background-image: url(FINAL\ BG\ FOR\ BPC\ PC.jpg);
}

button{
    margin-top: 5%;
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    transition: color 0.3 ease;
}
button:hover{
    background-color: #9aff91;
    color: #008a22;
}
h1{
    margin-top: 5%;
    font-size: 70PX;
    
}
h2{
    font-size: 50px;
}